@import 'tailwindcss';
@plugin "daisyui";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
@variant dark (&:where(.dark, .dark *));

/* Transisi Mewah & Stabil */
@utility theme-transition {
    /* Gunakan transition-property spesifik untuk menghindari flash pada properti lain */
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-duration: 100ms;
    /* transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); */
}

html, body {
    @apply theme-transition;
}